{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2ccda84a46.js" crossorigin="anonymous"></script>

</head>
<style>
    /* body{
    background: url("static/advisor.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100rem;
    
    } */
    a{
        color: aqua;
        background-color: antiquewhite;
        size: 50px;
    }
</style>
<body>
    <a href="Advisor_log">Advisior log in</a>
    <a href="Security_log">Security log in</a>
    <a href="Hod_log">Hod log in</a>

</body>
</html>