<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_students_details</title>
</head>
<body>
   <form action=""method="post">
    {%csrf_token%}
   Name: <input type="text" name="St_name">
   Admission No: <input type="text" name="Ad_no">
   Department: <input type="text" name="Dept">
   Branch: <input type="text" name="Branch">
   Year: <input type="text" name="Year">
   Phone_no 1: <input type="text" name="Phone1">
   Phone_no 2: <input type="text" name="Phone2">
   <button type="submit">submit</button>

     
    </form>
</body>
</html>